.hero, footer {
  background-color: #1F2937;
  color: #F9FAF8;
}

h2 {
  font-size: 48px;
  font-weight: 900;
}

.hero small {
  font-size: 18px;
  color: #E5E7EB;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: 900;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 1em;
}

.hero-content {
  display: flex;
  gap: 3em; 
  margin: 0 10%;
  padding-bottom: 5%;
}

.hero-text {
  flex: auto;
}

.hero-img {
  flex: 3 0 auto;
}

button, aside {
  background-color: #3882F6;
}

button {
  display: block;
  border-radius: 10%;
  border: none;
  color: #F9FAF8;
  padding: .5em;
  margin-top: 1em;
}

main {
  margin: 0 10%; 
  display: flex;
  flex-flow: column;
}

main h2 {
  font-size: 48px;
  font-weight: 900;
  color: #1F2937;
  margin: 3% auto;
}

.images {
  display: flex;
  gap: 3em;
}

.image {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.image img{
  border: 5px solid #3882F6;
  border-radius: 10%;
}

.quote {
  background-color: #E5E7EB;
  margin: 5% -12%;
  padding: 0 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.quote-text {
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
  margin-bottom: 0;
}

.quote-attribution {
  font-size: 24px;
  font-weight: 900;
  margin-top: 0;
}